<div mat-dialog-title>{{data.title | translate }}</div>
<div class="card-body">
    <mat-dialog-content class="mat-typography">
        <div class="form-group">
            <label for="site">{{ 'Site' | translate }}</label>
            <input type="text" class="form-control" id="site" [(ngModel)]="data.item.site">
        </div>
        <div class="form-group">
            <label for="login">{{ 'Login' | translate }}</label>
            <input type="text" class="form-control" id="login" [(ngModel)]="data.item.login">
        </div>
        <div class="form-group">
            <label for="pwd">{{ 'Password' | translate }}</label>
            <div class="input-group mb-2">
                <input *ngIf="hidePassword" type="password" class="form-control" id="pwd" placeholder="Password"
                       [(ngModel)]="data.item.value">
                <input *ngIf="!hidePassword" type="text" class="form-control" id="pwd" placeholder="Password"
                       [(ngModel)]="data.item.value" data-toggle="password">
                <div class="input-group-append"
                     matTooltip="Show/Hide password"
                     matTooltipPosition="above"
                     (click)="hidePassword = !hidePassword">
                    <span class="input-group-text">
                      <i *ngIf="hidePassword" class="fa fa-eye-slash"></i>
                      <i *ngIf="!hidePassword" class="fa fa-eye"></i>
                    </span>
                </div>
                <div class="input-group-append" (click)="generatePassword()" matTooltip="Generate new password"
                     matTooltipPosition="above">
                    <span class="input-group-text">
                      <i class="fa fa-refresh"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">{{ 'Comment' | translate }}</label>
            <textarea class="form-control" id="comment" rows="3" [(ngModel)]="data.item.comment"></textarea>
        </div>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="end">
    <button class="btn btn-success" mat-button [mat-dialog-close]="data.item"
            cdkFocusInitial>{{ 'Save' | translate }}</button>
</mat-dialog-actions>
