.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  width: 100%;
}

.mat-list-base {
  font-size: 12px;
}

nav {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.container-fluid {
  padding: 5%;
  min-height: 100%;
}

.btn {
  margin-right: 10px;
}

.gen-btn {
  margin: 10px;
}


