.body-wrapper {

}

nav {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.container-fluid {
  padding: 5%;
  min-height: 100%;
}

.btn {
  margin-right: 10px;
}

.gen-btn {
  margin: 10px;
}


.footer {
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

