<mat-toolbar class="example-header fixed-top">
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <mat-list>
            <mat-list-item>
                <button mat-icon-button class="example-icon" routerLink="/password-cards" (click)="drawer.toggle()">
                    <mat-icon color="primary">vpn_key</mat-icon>
                </button>
                <span>{{ 'Password cards' | translate }}</span>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button class="example-icon" routerLink="/certificates" (click)="drawer.toggle()">
                    <mat-icon color="primary">card_membership</mat-icon>
                </button>
                <span>{{ 'Certificates' | translate }}</span>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button class="example-icon" routerLink="/authenticator" (click)="drawer.toggle()">
                    <mat-icon color="primary">lock_open</mat-icon>
                </button>
                <span>{{ '2FA' | translate }}</span>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<mat-toolbar class="example-footer fixed-bottom footer">
    <div class="col-md-auto">
        <select (change)="languageChange($event.target.value)" class="custom-select">
            <option value="en">EN</option>
            <option value="ru">RU</option>
        </select>
    </div>
    <a href="#" (click)="openActualVersion()" matTooltip="{{ 'Show actual version' | translate }}"
       matTooltipPosition="above">{{footerText}}</a>
</mat-toolbar>
