<div class="container-fluid">
    <div class="row gen-btn">
        <div class="col-md-auto">
            <input class="btn btn-outline-primary btn-lg" type="button" value="Generate" (click)="generate()">
        </div>
    </div>
    <div class="row">
        <div class="card col-md-3" style="width: 18rem;" *ngFor="let item of cards">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p class="card-text">Comment by password.</p>
                <div class="col-auto">
                    <label class="sr-only" for="pwd">Password</label>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <div class="input-group-text">P</div>
                        </div>
                        <input type="password" class="form-control" id="pwd" placeholder="Password" [value]="item.value">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
