<div class="container-fluid">
    <div class="row gen-btn">
        <div class="col-md-auto">
            <input class="btn btn-outline-success btn-lg" type="button" value="Add" (click)="addItem()">
            <input class="btn btn-outline-primary btn-lg" type="button" value="Load" (click)="load()">
            <input *ngIf="(cards.length > 0)" class="btn btn-outline-primary btn-lg" type="button" value="Save" (click)="save()">
        </div>
    </div>
    <div class="row">
        <app-user-item (deleteClick)="removeItem($event)" [item]="item" *ngFor="let item of cards"></app-user-item>
    </div>
</div>
