<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="input-group-append col-2" (click)="openDefaultBrowser()"
                 matTooltip="{{ 'Open in default browser' | translate }}"
                 matTooltipPosition="above">
                    <span class="input-group-text">
                      <i class="fa fa-link"></i>
                    </span>
            </div>
            <div class="col-8">
                {{item.site}}
            </div>
            <div class="col-2">
                <div class="input-group-append" (click)="removeClick(item)"
                     matTooltip="{{ 'Remove item' | translate }}"
                     matTooltipPosition="above">
                    <span class="input-group-text">
                      <i class="fa fa-trash"></i>
                    </span>
                </div>
                <!--<input class="btn btn-outline-danger btn-sm" type="button" value="X" (click)="" >-->
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{item.comment}}</p>
        <div class="col-auto">
            <div class="input-group mb-2">
                <input disabled type="text" class="form-control" [value]="item.login">
                <div class="input-group-append" (click)="copyLogin()"
                     matTooltip="{{ 'Copy to clipboard' | translate }}"
                     matTooltipPosition="above">
                    <span class="input-group-text">
                      <i class="fa fa-user-o"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group mb-2">
                <input *ngIf="hidePassword" disabled type="password" class="form-control" placeholder="Password"
                       [value]="item.value" data-toggle="password">
                <input *ngIf="!hidePassword" disabled type="text" class="form-control" placeholder="Password"
                       [value]="item.value" data-toggle="password">
                <div class="input-group-append"
                     matTooltip="{{ 'Show/Hide password' | translate }}"
                     matTooltipPosition="above"
                     (click)="hidePassword = !hidePassword">
                    <span class="input-group-text">
                      <i *ngIf="hidePassword" class="fa fa-eye-slash"></i>
                      <i *ngIf="!hidePassword" class="fa fa-eye"></i>
                    </span>
                </div>
                <div class="input-group-append" (click)="copy()"
                     matTooltip="{{ 'Copy to clipboard' | translate }}"
                     matTooltipPosition="above">
                    <span class="input-group-text">
                      <i class="fa fa-clipboard"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>
