<mat-toolbar class="example-header">
    <input *ngIf="cards.length > 0" class="form-control mr-sm-2 col-2" type="search" placeholder="{{ 'Search' | translate }}"
           aria-label="Search"
           (search)="searchText = $event.target.value"
           (keyup)="searchText = $event.target.value">
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" (click)="load()">
        <mat-icon color="primary">folder_open</mat-icon>
    </button>
    <span>{{ 'Load' | translate }}</span>
    <button mat-icon-button class="example-icon" (click)="addItem()">
        <mat-icon color="primary">post_add</mat-icon>
    </button>
    <span>{{ 'Add' | translate }}</span>
    <button *ngIf="cards.length > 0" mat-icon-button class="example-icon" (click)="save()">
        <mat-icon color="primary">save</mat-icon>
    </button>
    <span *ngIf="cards.length > 0">{{ 'Save' | translate }}</span>
</mat-toolbar>
<div class="container-fluid">
    <div class="row">
        <app-user-item (deleteClick)="removeItem($event)" [item]="item" *ngFor="let item of cardItems"></app-user-item>
    </div>
</div>
