<mat-toolbar class="example-footer fixed-bottom footer">
    <button mat-icon-button class="example-icon" (click)="feedBack()"
            matTooltip="{{ 'Write to developer' | translate }}"
            matTooltipPosition="above">
        <mat-icon color="primary">mail</mat-icon>
    </button>
    <span>{{ 'Feedback' | translate }}</span>
    <div class="col-md-auto">
        <select (change)="languageChange($event.target.value)" class="custom-select">
            <option value="en">EN</option>
            <option value="ru">RU</option>
        </select>
    </div>
    <a *ngIf="!updateNewVersion" href="#" (click)="openActualVersion()"
       matTooltip="{{ 'Show actual version' | translate }}"
       matTooltipPosition="above">{{footerText}}</a>
    <button *ngIf="updateNewVersion" mat-icon-button class="example-icon" (click)="openActualVersion()"
            matTooltip="{{ 'Download new version...' | translate }}"
            matTooltipPosition="above">
        <mat-icon class="dowload-icon-warning" color="accent">get_app</mat-icon>
    </button>
    <span class="dowload-icon-warning" *ngIf="updateNewVersion">{{ 'New release' | translate }}</span>
</mat-toolbar>
