/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/buttons";
@import "~font-awesome/scss/font-awesome";
@import '~ngx-toastr/toastr';
@import "src/app/@themes/custom";

body, html {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}
