@import '~@angular/material/theming';
@import '~@angular/material/snack-bar/snack-bar-theme';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/toolbar/toolbar-theme";
@import "~material-icons/iconfont/material-icons";


@include mat-core();
$primary: mat-palette($mat-grey);
$accent:  mat-palette($mat-light-blue, 600, 300, 600);
$warn:    mat-palette($mat-deep-orange, 300, 500, 800);

$theme:   mat-light-theme($primary,$accent,$warn);
@include angular-material-theme($theme);
